<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4"><a href="/">CarTech</a></h1>
  <p class="lead">Post a car you wish to sell</p>
  <hr class="my-4">
</div>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <form class="clearfix mb-4" action="POST" onsubmit="openModal()" id="myForm">
          <div class="form-group">
            <label for="cars-text">Make</label>
            <input type="text" id="make" class="form-control" aria-describedby="cars-text" placeholder="Lexus, Audi, etc.">
          </div>
          <div class="form-group">
            <label for="cars-text">Model</label>
            <input type="text" id="model" class="form-control" aria-describedby="cars-text" placeholder="RC, R8, etc. ">
          </div>
          <div class="form-group">
            <label for="cars-text">Year</label>
            <input type="text" id="year" class="form-control" aria-describedby="cars-text" placeholder="Enter 0000">
          </div>
          <div class="form-group">
            <label for="cars-text">Color</label>
            <input type="text" id="color" class="form-control" aria-describedby="cars-text" placeholder="Red, white, etc.">
          </div>
          <div class="form-group">
            <label for="cars-description">Description</label>
            <textarea class="form-control" id="description" aria-describedby="cars-description" placeholder="Enter Car Description"></textarea>
          </div>
          <div class="form-group">
            <label for="cars-text">Price($)</label>
            <input type="text" id="price" class="form-control" aria-describedby="cars-text" placeholder="Enter 10,000">
          </div>
          <div class="form-group">
            <label for="cars-description">Photo</label>
            <input type="text" id="photo" class="form-control" aria-describedby="cars-text" placeholder="Enter the URL of a photo of your car"></textarea>
          </div>
          <div class="form-group">
            <label for="cars-name">Your Name</label>
            <input type="text" id="name" class="form-control" aria-describedby="cars-text" placeholder="John Smith"></textarea>
          </div>
          <div class="form-group">
            <label for="cars-description">Your Email</label>
            <input type="text" id="email" class="form-control" aria-describedby="cars-text" placeholder="example@example.com"></textarea>
          </div>

          <button id="submit" class="btn btn-primary float-right">Submit</button>



          
        </form>
      </div>

      <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>