.list-group-item {
  line-height: 2.5;
}

body {
  background-color: #eaecee;
}
.jumbotron-fluid {
  padding-left: 5%;
  margin-bottom: 0;
  background-color: #eaecee;
}

.navbar-dark .navbar-brand {
  color: #fff;
  font-size: 25px;
}

.container {
  margin-top: 25px;
}

h3 {
  font-family: 'Exo', sans-serif;
  color: #820D16;
}

h1 {
  font-family: 'Black Ops One', cursive; 
  color: #F2AF29;
  font-size: 55px;
  padding-top: 25px;
}

.card-title {
  color: #820D16;
  font-family: 'Exo', sans-serif;
  font-size: 30px;

}
p {
  font-family: 'Exo', sans-serif;
  color: #000000;
}

a {
  font-family: 'Black Ops One', cursive; 
  color: #F2AF29;
}
