.list-group-item {
  line-height: 2.5;
}
/* Fonts 
font-family: 'Abril Fatface', cursive;
font-family: 'Exo', sans-serif;
font-family: 'Black Ops One', cursive; 
font-family: 'Bungee Inline', cursive; 
font-family: 'Chonburi', cursive;*/

body {
  background-color: #eaecee;
}
.jumbotron-fluid {
  padding-left: 5%;
  margin-bottom: 0;
  background-color: #eaecee;
}

.navbar-dark .navbar-brand {
  color: #fff;
  font-size: 25px;
}

.container {
  margin-top: 15px;
  margin-left: 10%;
}

.card {
  display: inline-block;
}

.card-columns {
  column-count: 3;
}

.card-columns .card {
  margin-bottom: 2rem;
}

h3 {
  font-family: 'Exo', sans-serif;
  color: #820D16;
}

h1 {
  font-family: 'Black Ops One', cursive; 
  color: #F2AF29;
  font-size: 55px;
  padding-top: 25px;
}

.card-title {
  color: #820D16;
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  margin: 10px;

}
p {
  font-family: 'Exo', sans-serif;
  color: #000000;
  margin: 0 10px 1rem 10px;
}

.btn-danger {
  margin: 0 10px 10px 10px;
}

a {
  font-family: 'Black Ops One', cursive; 
  color: #F2AF29;
}
